
body{
	text-align: center !important;
    background-color: #2b2d2e;
    margin-top: 150px;
}
p{
	margin-top: 20px;
	font-size: 30px;
    color: White;
}
input{
	text-align: center;
 
}
.mssg{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}
.some{
    color:white ;
 
}
a{
text-decoration: none;
color: green;
}
a:hover{
    text-decoration: none;
    color: lightgreen;
}